# --- SEGURANÇA ---
.streamlit/secrets.toml
.streamlit/config.toml


*.json
!Controle - Receitas Python.csv

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- SISTEMA (macOS) ---
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes